body {
    color: var(--text-gray);
    font-family: var(--third-font);
}

h1 {
    font-family: var(--fourth-font);
}

h6 {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 96px;

    @media screen and (max-width: 1024px) {
        padding: 0 60px;
    }

    @media screen and (max-width: 767px) {
        padding: 0 24px;
    }
}

.button-b1 {
    padding: 12px 16px;
    border-radius: 16px;
    border: 1.5px solid #EAE8FF;
    background: var(--bg-white);
    color: #BAB3FF;
}

main {
    min-height: 200vh;
}